<nav id="sidebar">
  <div class="sidebar-header">
      <a href="#">Generate Invoice</a>
  </div>

  <ul class="list-unstyled no-style">
      <li>
        <a href="#"><span class="icon"></span>Main</a>
          <!-- <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"> -->
            <!-- <i class="fa fa-camera-retro"></i> fa-camera-retro -->
        <a class="menus" href="#">
        <span class="icon"><i class="fa fa-tachometer"></i></span>Overview</a>

          <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
              <li><a href="#">Home 1</a></li>
              <li><a href="#">Home 2</a></li>
              <li><a href="#">Home 3</a></li>
          </ul> -->
      </li>
      <li>
          <a class="" href="#"><span class="icon"></span>Payments</a>
          <a class="menus" href="#"><span class="icon"><i class="fa fa-credit-card"></i></span>All Payments</a>
          <a class="menus" href="#"><span class="icon"><i class="fa fa-credit-card"></i></span>Reconciled Payments</a>
          <a class="menus" href="#"><span class="icon"><i class="fa fa-credit-card"></i></span>UN-Reconciled Payments</a>
          <a class="menus" href="#"><span class="icon"><i class="fa fa-dot-circle-o"></i></span>Manual Settlement</a>

      </li>
      <li>
          <a class="" href="#"><span class="icon"></span>Orders</a>
          <a class="menus" href="#"><span class="icon"><i class="fa fa-newspaper-o"></i></span>All Orders</a>
          <a class="menus" href="#"><span class="icon"><i class="fa fa-newspaper-o"></i></span>Pending Orders</a>
          <a class="menus" href="#"><span class="icon"><i class="fa fa-newspaper-o"></i></span>Reconcilled Orders</a>
          <a class="menus" href="#"><span class="icon"><i class="fa fa-newspaper-o"></i></span>Manual Settlement</a>

      </li>
      <li>
          <a href="#"><span class="icon"><i class="fa fa-user-o"></i></span>Merchant Profile</a>
      </li>
  </ul>
</nav>



<!-- nav bar ////////////////////////////////////////// -->

<div id="navbar">
<div class="pan">
  <div id="logoText">TransMonitor</div>
  <div id="search"><span class="fa fa-search"></span><input class="no-border" placeholder="Search" type="text" name="search" id=""></div>
</div>
  <div class="links">

    <a class="inks" href="#home">Support</a>
    <a class="inks" href="#news">FAQ</a>
    <a class="inks" href="#contact"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
    <a href="#user"><div class="left"><h6 id="hello">Hello</h6><br><h6 id="name">Oluwaseni Ajibade</h6></div>
    <div class="right"><img src="/assets/2.jpg" class="pic" alt="">
    </div></a>
  </div>
</div>
