#wrapper{
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 50px;
  max-width: 100%;
  /* overflow-x: hidden; */
}

.top-box{
  /* width: 50% !important;
  margin-left: 1px;
  background-color: tomato; */
}

.card-title{
  font-size: 90% !important;
}

.left{
  float: left;
}
.right{
  float: right;
}

.card-subtitle{
  font-size: 70%;
  color: #818080;
}

.cards{
  display: flex;
  justify-content: space-around
}

.orders{
  padding-top: 2%;
}

.list-group-item{
  text-decoration-line: none !important;
  border-bottom: none;
}
